<link rel="stylesheet" href="https://tour.tourmyapp.com/static/widgets/widgets.css" type="text/css">


<h1 class="text-center">Lock box settings</h1>
<p class="muted text-center">Events you add to your lock box are kept in secret and will only be shared with the persons' email address you add below</p>
<p class="text-center"><button class="btn btn-success btn-create"><span class="ico ico-add"></span>Add new</button></p>

<div class="emails"></div>

<div class="modal hide lockbox" data-id="">
	<div class="modal-body text-center">
		<h2 class="text-center"></h2>
		<p class="text-center"><input type="text" name="name" placeholder="Name" /></p>
		<p class="text-center"><input type="text" name="email" placeholder="Email address" /></p>
	</div>
	<div class="modal-footer text-center">
		<button class="btn btn-success btn-invite"><span class="ico ico-check"></span>Save</button>
	</div>
</div>