<link rel="stylesheet" href="https://tour.tourmyapp.com/static/widgets/widgets.css" type="text/css">

<h1 class="text-center">Request profile release</h1>
{ALERT}

<form action="" method="post" class="request">
	<input type="hidden" name="act" value="request-send" />
	<input id="file" type="hidden" name="files" />
	<input type="hidden" name="file" />
	
	<p class="detail">
		If you are looking at this page we hope that it is just for future reference, But if not, we would like to start by offering our deepest condolences and sympathy in your time of loss for yourself and your family. We hope that you will find comfort and closure in the legacy that your loved one has left for you and your family. Please make sure that all of your family members are aware of this legacy so that they too can enjoy the journey that was left behind.
		<br/><br/>
     	Please fill in the form below so that we may release the legacy as soon as possible, and we will contact you when it is released. Thank You 
	</p>
	
	<div class="row-fluid">
		<div class="row-fluid">
			<b>We need your information: </b><br/><br/>
		</div>
		<div class="text-center">
			<div class="row-fluid">
				<div class="span12">
					<input type="text" name="yourname" value="" placeholder="Your name" />
				</div>
			</div>
			<div class="row-fluid">
				<div class="span12">
					<input type="text" name="youremail" value="" placeholder="Your email" />
				</div>
			</div>
			<div class="row-fluid">
				<div class="span12">
					<input type="text" name="yourrelation" value="" placeholder="Your relation to the deceased" />
				</div>
			</div>
		</div>
	</div>
	<div class="divider" style="margin-bottom: 20px;"></div>
	<div class="row-fluid">
		<div class="row-fluid">
			Sorry we need all this information, but it is needed for the release. <br/><br/>
		</div>
		<div class="row-fluid">
			<b>Deceased Information:</b><br/><br/>
		</div>
	</div>
	<div id="file-uploader" style="display: inline-block; margin-bottom: 10px;"></div>
	<div class="row-fluid">
		<div class="span6 text-right">
			<div class="row-fluid">
				<div class="span12">
					<input type="text" name="firstname" value="" placeholder="First name" />
				</div>
			</div>
			<div class="row-fluid">
				<div class="span12">
					<input type="text" name="middlename" value="" placeholder="Middle name" />
				</div>
			</div>
			<div class="row-fluid">
				<div class="span12">
					<input type="text" name="lastname" value="" placeholder="Last name" />
				</div>
			</div>

			<div class="row-fluid">
				<div class="span12">
					<input type="text" name="dob" placeholder="Date of birth" class="datepicker" />
				</div>
			</div>

			<div class="row-fluid">
				<div class="span12">
					<input type="text" name="dod" placeholder="Date of death" class="datepicker" />
				</div>
			</div>

		</div>
		<div class="span6 text-left">
			<div class="row-fluid">
				<div class="span12">
					<input type="text" name="username" placeholder="Username" style="width: 190px" /> <span class="ico ico-help has-tooltip" data-title="help@mylifelegacy.com for more information"></span>
				</div>
			</div>

			<div class="row-fluid">
				<div class="span12">
					<input type="text" name="motherfirst" value="" placeholder="Mother's first name" />
				</div>
			</div>

			<div class="row-fluid">
				<div class="span12">
					<input type="text" name="motherlast" value="" placeholder="Mother's last name" />
				</div>
			</div>

			<div class="row-fluid">
				<div class="span12">
					<input type="text" name="fatherfirst" value="" placeholder="Father's first name" />
				</div>
			</div>

			<div class="row-fluid">
				<div class="span12">
					<input type="text" name="fatherlast" value="" placeholder="Father's last name" />
				</div>
			</div>
		</div>
	</div>
	<div class="row-fluid">
		<div class="row-fluid">
			Please take comfort in knowing they will live forever on this site.<br/><br/>
		</div>
	</div>
	<p class="text-center">
		<button class="btn btn-success"><span class="ico ico-check"></span> Send request</button>
	</p>
</form>