<h1 class="text-center">Search people</h1>

<div class="text-center search-bar">
	Name: <input type="text" name="name" placeholder="What is his/her full name?" data-search="{Q1}" value="{Q1}" /><br/><br/>
	Father's name	<input type="text" name="fathername" placeholder="What was his/her father's full name?" data-search="{Q2}"  value="{Q2}"/><br/><br/>
	Mother's maiden name	<input type="text" name="maiden" placeholder="What is his/her mother's maiden name?" data-search="{Q3}"  value="{Q3}"/><br/><br/>
	Date of birth	<input type="text" name="birthday" placeholder="When was his/her birthday?" class="datepicker" data-search="{Q5}"  value="{Q5}"/><br/><br/>
	Current city <input type="text" name="currentcity" placeholder="What is or was his/her current city?" data-search="{Q4}"  value="{Q4}"/><br/><br/>
	Alias <input type="text" name="alias" placeholder="What is his/her alias, nickname, or married name?" data-search="{Q6}"  value="{Q6}"/><br/><br/>
	<button class="btn btn-success btn-search"><span class="ico ico-search"></span>Search</button>
</div>

<div class="results"></div>