<div class="box w100">
	<h2>{PAGE_TITLE}</h2>
	<h4>{PAGE_HINT}</h4>
	
	<div class="toolbar clearfix">
		<button class="btn btn-ico btn-back-to-list"><span class="ico ico-arrow-left2"></span></button>
		{ACTIONS}
	</div>
	
	<form class="must-process" onsubmit="return false">

		<div class="row-fluid row-list">
			<div class="span4"><label>Status</label></div>
			<div class="span8">{STATUS}</div>
		</div>

		<div class="row-fluid row-list">
			<div class="span4"><label>Requested by</label></div>
			<div class="span8">{REQUESTER} on {DATE}</div>
		</div>

		<div class="row-fluid row-list">
			<div class="span4"><label>Name</label></div>
			<div class="span8">{NAME}</div>
		</div>

		<div class="row-fluid row-list">
			<div class="span4"><label>Username</label></div>
			<div class="span8">{USERNAME}</div>
		</div>

		<div class="row-fluid row-list">
			<div class="span4"><label>Email address</label></div>
			<div class="span8">{EMAIL}</div>
		</div>

		<div class="row-fluid row-list">
			<div class="span4"><label>Date of death</label></div>
			<div class="span8">{DOD}</div>
		</div>

		<div class="row-fluid row-list">
			<div class="span4"><label>Document</label></div>
			<div class="span8"><a href="{FILE}" target="_blank">View</a></div>
		</div>
	</form>
</div>